.flex-container{
    display: flex;
}
.flex-container ul{
    display: flex;
    margin-left: 35%;
}
.flex-container2{
    display: flex;
}
.flex-container2 ul{
    display: flex;
    margin-left: 37%;
}
.list{
    list-style-type: none;
    display: flexbox;
}
.item:last-child{
    margin-right:0;
}
.item{
    font-family: cursive;
    color: blue;
    margin-right: 40%;
}
.item2{
    font-family: cursive;
    margin-right: 60%;
}
.link{
    color: red;
    text-decoration: none;
}  
body{
    background-color:lightblue;
}